.app {
  background-color: #111;
}

.app__loading {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
  background-color: #111;
}

.app__loadingContents {
  text-align: center;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app__loadingContents > img {
  height: 100px;
  padding: 20px;
  margin-bottom: 40px;
}
