.overlayRow {
  width: 100%;
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  margin-left: -20px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 999;
}

.overlayRow__header {
  padding: 20px;
  margin-right: 20px;
  float: right;
  cursor: pointer;
}

.videoContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.videoContainer h4 {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.3rem;
}
